{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true,

  "proseWrap": "always",

  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",

  "plugins": ["prettier-plugin-tailwindcss"]
}
