.item::before {
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  inset: 0;
  background-position: center;
  opacity: 0.4;
  /* scale: 0.9; */
  pointer-events: none;
  z-index: 0;
}

.pizza::before {
  background-image: url(../../../assets/custom/p2.jpg);
}

.burger::before {
  background-image: url(../../../assets/custom/b5.jpg);
}
