.embla {
  max-width: 48rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}

.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide:nth-child(1) > .embla__slide__number {
  height: 19rem;
}
.embla__slide:nth-child(2) > .embla__slide__number {
  height: calc(19rem + 4rem);
}
.embla__slide:nth-child(3) > .embla__slide__number {
  height: calc(19rem - 2rem);
}
.embla__slide:nth-child(4) > .embla__slide__number {
  height: calc(19rem + 2rem);
}
.embla__slide:nth-child(5) > .embla__slide__number {
  height: 19rem;
}
